body {
    background-color: hsl(0, 100%, 74%);
    background-image: url("/intro-component-with-signup-form-master/images/bg-intro-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
  }